@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.App {
  text-align: center;
}

.App-header {
  display: flex;
  background: ghostwhite;
}

.material-icons {
  margin: 20px 20px 20px auto;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .material-icons {
    animation: material-icons-spin infinite 20s linear;
  }
}

@keyframes material-icons-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
